
target/
*.class
*.jar
*.war
*.ear
*.nar
*.stackdump


.apt_generated/
.factorypath

.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

.metadata/
.classpath
.project
.settings/
*.launch


.vscode/

*.log
logs/
*.db
*.sqlite

.DS_Store
Thumbs.db